/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 * 
 * US-QWERTY Layout for Corne Choc Pro BT with OLED displays
 * Optimized for programming with German characters via Linux AltGr-International
 *
 * MAJOR CHANGES FROM PREVIOUS VERSION:
 * 1. Base Layer: US-QWERTY instead of German QWERTZ
 * 2. Base Layer: /, ?, :, ; now on base layer (programmer-friendly)
 * 3. Base Layer: Backspace moved to right side (above Enter)
 * 4. Base Layer: Esc top-left, Tab second-row-left
 * 5. Lower Layer: Reorganized with brackets grouped, € added, ' added
 * 6. Umlauts: Via Linux AltGr-International (AltGr+key combos)
 *
 * Layer Structure:
 * 0: QWERTY (Base) - US layout with programmer-friendly symbols
 * 1: Numbers + Symbols (Lower) - Reorganized for efficiency
 * 2: Function Keys + Navigation (Raise)
 * 3: Tiling Window Management (Lower + Raise)
 * 4: Media + System (Left Space + Right Space combo)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };

    // Conditional layers
    conditional_layers {
        compatible = "zmk,conditional-layers";
        
        // Tiling: Lower + Raise
        tri_layer_tiling {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    // Combos for Adjust layer (Left Space + Right Space)
    combos {
        compatible = "zmk,combos";
        
        combo_adjust {
            timeout-ms = <50>;
            key-positions = <40 43>; // Left Space (40) + Right Space (43)
            bindings = <&mo 4>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            // -----------------------------------------------------------------------------------------
            // US-QWERTY Base Layer (matches your keycaps!)
            // |  ESC |  Q  |  W  |  E  |  R  |  T  | NONE | NONE |  Y  |  U  |  I  |  O  |  P  | BSPC|
            // |  TAB |  A  |  S  |  D  |  F  |  G  | NONE | NONE |  H  |  J  |  K  |  L  | ; : | ENT |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |              |  N  |  M  | , < | . > | / ? | SHFT|
            //                    | CMD | LWR | SPC |              | SPC | RSE | ALT |
            //
            // IMPORTANT: Linux should use 'us altgr-intl' keyboard layout for the Corne
            // AltGr+Q = ä, AltGr+P = ö, AltGr+Y = ü, AltGr+S = ß
            bindings = <
                &kp ESC   &kp Q &kp W &kp E &kp R &kp T &none &none &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
                &kp TAB   &kp A &kp S &kp D &kp F &kp G &none &none &kp H &kp J  &kp K     &kp L   &kp SEMI &kp RET
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B             &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                                            &kp LGUI &mo 1 &kp SPACE   &kp SPACE &mo 2 &kp RALT
            >;
        };

        lower_layer {
            display-name = "NUMBER";
            // -----------------------------------------------------------------------------------------
            // Numbers and Symbols for US AltGr-International Layout
            // LEFT SIDE:
            // Row 1: ^, 1, 2, 3, 4, 5
            // Row 2: °, !, ", §, $, €
            // Row 3: ¶, ¡, ", ¢, =, ≠
            // 
            // RIGHT SIDE:
            // Row 1: 6, 7, 8, 9, 0, ß
            // Row 2: (, ), [, ], {, }
            // Row 3: &, /, |, %, ', ¿
            //
            // Keycodes use RA() = AltGr on Linux altgr-intl:
            // ^ = Shift+6, € = RA+5, § = RA+Shift+S
            // ° = RA+Shift+;, ¶ = RA+;, ¡ = RA+Shift+1, ¢ = RA+Shift+C
            // ß = RA+S, × = RA+=, ¿ = RA+/
            bindings = <
                &kp LS(N6)    &kp N1      &kp N2     &kp N3        &kp N4        &kp N5         &none &none &kp N6     &kp N7     &kp N8     &kp N9        &kp N0          &kp RA(S)
                &kp RA(LS(SEMI)) &kp EXCL &kp LS(SQT) &kp RA(LS(S)) &kp DLLR     &kp RA(N5)     &none &none &kp LS(N9) &kp LS(N0) &kp LBKT   &kp RBKT      &kp LS(LBKT)    &kp LS(RBKT)
                &kp RA(SEMI)  &kp RA(LS(N1)) &kp LS(SQT) &kp RA(LS(C)) &kp EQUAL  &kp RA(EQUAL)        &kp LS(N7) &kp FSLH   &kp BSLH   &kp PRCNT     &kp SQT         &kp RA(FSLH)
                                                      &kp LGUI &trans &kp SPACE   &kp SPACE &trans &kp RALT
            >;
        };

        raise_layer {
            display-name = "FNAV";
            // -----------------------------------------------------------------------------------------
            // Function Keys and Navigation
            // |  F1 |  F2 |  F3 |  F4 |  F5 |  F6 | NONE | NONE |  F7 |  F8 |  F9 | F10 | F11 | F12 |
            // | CTRL| ALT | SHFT| CAPS|     |     | NONE | NONE |  ←  |  ↓  |  ↑  |  →  |     | DEL |
            // |     |     |     |     |     |     |              | HOME| PGDN| PGUP| END |     |     |
            //                    | CMD |     | SPC |              | SPC |     | ALT |
            //
            // NOT CHANGED - Still optimized for navigation and function keys
            bindings = <
                &kp F1    &kp F2    &kp F3    &kp F4      &kp F5   &kp F6 &none &none &kp F7   &kp F8    &kp F9    &kp F10   &kp F11  &kp F12
                &kp LCTRL &kp LALT  &kp LSHFT &kp CAPS    &trans   &trans &none &none &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &trans   &kp DEL
                &trans    &trans    &trans    &trans      &trans   &trans           &kp HOME &kp PG_DN &kp PG_UP &kp END   &trans   &trans
                                              &kp LGUI &trans &kp SPACE                &kp SPACE &trans &kp RALT
            >;
        };

        tiling_layer {
            display-name = "TILING";
            // -----------------------------------------------------------------------------------------
            // Tiling Window Management (Lower + Raise)
            // All keys send Hyper (Ctrl+Alt+Super+Shift) + key for Hyprland
            //
            // Bindings configured in ~/.config/hypr/bindings.conf
            bindings = <
                &kp LC(LA(LG(LS(FSLH)))) &kp LC(LA(LG(LS(N1)))) &kp LC(LA(LG(LS(N2)))) &kp LC(LA(LG(LS(N3)))) &kp LC(LA(LG(LS(N4)))) &kp LC(LA(LG(LS(N5)))) &none &none &kp LC(LA(LG(LS(N6)))) &kp LC(LA(LG(LS(N7)))) &kp LC(LA(LG(LS(N8)))) &kp LC(LA(LG(LS(N9)))) &trans &trans
                &trans                   &kp LC(LA(LG(LS(A))))  &kp LC(LA(LG(LS(S))))  &kp LC(LA(LG(LS(D))))  &kp LC(LA(LG(LS(F))))  &kp LC(LA(LG(LS(G))))  &none &none &kp LC(LA(LG(LS(H))))  &kp LC(LA(LG(LS(J))))  &kp LC(LA(LG(LS(K))))  &kp LC(LA(LG(LS(L))))  &kp LC(LA(LG(LS(TAB)))) &trans
                &trans                   &kp LC(LA(LG(LS(Z))))  &kp LC(LA(LG(LS(X))))  &kp LC(LA(LG(LS(C))))  &kp LC(LA(LG(LS(V))))  &kp LC(LA(LG(LS(B))))            &kp LC(LA(LG(LS(N))))  &kp LC(LA(LG(LS(M))))  &kp LC(LA(LG(LS(COMMA)))) &kp LC(LA(LG(LS(DOT)))) &kp LC(LA(LG(LS(P)))) &trans
                                                                                       &kp LGUI &trans &kp SPACE                                                &kp SPACE &trans &kp RALT
            >;
        };

        adjust_layer {
            display-name = "ADJUST";
            // -----------------------------------------------------------------------------------------
            // Media Controls and System (Left Space + Right Space combo)
            //
            // Hyper combos configured in ~/.config/hypr/bindings.conf
            bindings = <
                &trans       &kp C_BRI_DN &kp C_BRI_UP &kp C_PREV              &kp C_PP                  &kp C_NEXT                &none &none &kp C_VOL_DN          &kp C_VOL_UP           &kp C_MUTE                &trans                    &trans  &trans
                &trans       &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2            &bt BT_SEL 3              &bt BT_SEL 4              &none &none &kp LC(LA(LG(LS(W)))) &kp LC(LA(LG(LS(T))))  &kp LC(LA(LG(LS(ENTER)))) &kp LC(LA(LG(LS(R))))     &kp LC(LA(LG(LS(B)))) &kp LC(LA(LG(LS(EQUAL))))
                &trans       &bt BT_CLR   &sys_reset   &bootloader             &kp LC(LA(LG(LS(O))))     &kp LC(LA(LG(LS(I))))           &trans                &trans                 &kp LC(LA(LG(LS(MINUS)))) &trans                    &trans  &trans
                                                       &kp LGUI &trans &kp SPACE                                                              &kp SPACE &trans &kp RALT
            >;
        };
    };
};
